{# templates/capturePokemon.html.twig #}

{% extends "parent.html.twig" %}

{% block body %}

<h1>Choisissez un pokémon pour vous accompagner :</h1>

<table class="table table-striped">
            <thead>
                <th>#</th>
                <th>Nom</th>
                <th>Niveau</th>
                <th>XP</th>
                <th>Date dernier entraînement</th>
                <th>Actions</th>
            </thead>
            <tbody>

{% for pokemon in pkms %}

	<tr>
		<td>{{pokemon.id}}</td>	
		<td>{{pokemon.RefPokemon.nom}}</td>
		<td>{{pokemon.niveau}}</td>
		<td>{{pokemon.xp}}</td>
		<td>{{pokemon.DateDernierEntrainement|date('d/m/Y')}}</td>
		<td> <a href="/projet_symfony/public/index.php/choixTerrainCapture/{{pokemon.id}}">Choisir</td>
	</tr>


{% endfor %}
	</tbody>
</table>


{% endblock %}
